

@import url("https://fonts.googleapis.com/css?family=Hind|Open+Sans|Teko");

* > h1 {
  font-family: "Teko", sans-serif;
}

* {
  font-family: "Hind", sans-serif;
}

body {
  background-color: steelblue
}

.container {
  height: 800px;
  width: 100%;
  background-image: url("https://uploads.codesandbox.io/uploads/user/7016dfd3-f9e5-4f34-924c-c71830041421/Twxx-bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* border: 1px solid darkgray; */
  color: #f8f8f8;
  text-shadow: 2px 2px black;
  padding-left: 5px;
  padding-top: 6px;
}
